<!-- <form #LoginForm="ngForm" (ngSubmit)= "addData"(loginForm.value)>

<div class="main">

<div class = "input-fields">
<label>Email</label>
<input name="email" ngModel placeholder="Email" id="email" type="email" class = "input-fields"/>
</div>

<div class = "input-fields">
<label>password</label>
<input name="password" ngModel placeholder="password" id="password" type="password" class = "input-fields"/>
</div>

<button>  Add data </button>

</div>

</form> -->

<ul>
  <li *ngForm = "let item of data">
    {{item.email}}
    {{item.name}}
    {{item.password}}

    <button (click) = "upData(item.id)">
      Update
    </button>
    <button (click) = "deleteData(item.id)">
      Delete
    </button>
  </li>
</ul>